{% extends "template.html" %}
{% block content %}
{% for result in result %}

	<a class="" href="/viewpost/{{ result.id }}"><h4>{{ result.title }}</h4></a>
	<p>{{ result.content[0:100]|safe }}......</p>
	{% if result.tags %}
		<p class="pull-left">Tags: {{ result.tags }}</p>
	{% endif %}
	{% if session.is_authenticated %} 
      		<a class="btn pull-right" href="/edit/{{ result.id }}">Edit</a>
      		<a class="btn pull-right" href="/delete/{{ result.id }}">Delete</a>

	{% endif %}
	<br />
{% endfor %}

{% for entry in entry %}
	<a class="" href="/viewpost/{{ entry.id }}"><h4>{{ entry.title }}</h4></a>
	<p>{{ entry.content[0:100]|safe }}......</p>
	{% if entry.tags %}
		<p class="pull-left">Tags: {{ entry.tags }}</p>
	{% endif %}
	{% if session.is_authenticated %} 
      		<a class="btn pull-right" href="/edit/{{ entry.id }}">Edit</a>
      		<a class="btn pull-right" href="/delete/{{ entry.id }}">Delete</a>

	{% endif %}
	<br />
<br />
{% endfor %}

	<div style="clear:both"></div>
{% endblock %}
